.sub-menu-header {
  padding: 15px 20px 10px 20px;
  font-style: italic;
}

.sub-menu-items {
  position: relative;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;

  app-menu-item {
    flex: 0 0 33.3333%
  }
}

.sub-menu-items {
  border-bottom: 1px solid #888888;
}
