:host {
  padding: 20px 16px;
}

.header {
  display: flex;
  margin-bottom: 4px;
}

.title {
  font-size: 1.3em;
  flex-grow: 1;
}

.price {
  flex-shrink: 0;
}

.description {
  color: #888888;
  font-size: 0.9em;
}
