<div class="header">
  <div>
    <span class="title">Order #{{order?.number}}</span>
    <span>{{order?.table}}</span>
  </div>
  <button class="button button-circle" (click)="addPosition()">
    <i class="fa fa-2x fa-plus"></i>
  </button>
</div>

<app-side-panel #tabletPanel [title]="'Assign tablet'" [header]="'Tablet'">
  <app-tablet-item (select)="tabletSelected($event)" (unselect)="tabletUnselected($event)" [order]="order" [tablet]="tablet" *ngFor="let tablet of tablets$ | async"></app-tablet-item>
</app-side-panel>

<app-side-panel #positionPanel [width]="800" [title]="'Add position'" [header]="'Menu'">
  <app-item-grid class="item-grid" (itemSelected)="itemSelected($event)"></app-item-grid>
</app-side-panel>

<div class="positions">
  <app-position-item (amountChanged)="amountChanged(position, $event)" [position]="position" *ngFor="let position of order?.positions">
  </app-position-item>

  <div class="position" *ngIf="order?.positions?.length === 0">
    No positions
  </div>
</div>

<div class="footer">
  <button (click)="addTablet()">Assign Tablet</button>
</div>

