:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: none;
  justify-content: flex-end;
}

.panel {
  display: flex;
  height: 100vh;
  padding: 20px;
  background: white;
  flex-direction: column;
}

.title-header {
  display: flex;
  justify-content: flex-end;
}

.content-header {
  border-bottom: 1px solid #e1e1e1;
  font-size: 1.2em;
  font-weight: bold;
}
