<app-page [actions]="actions">
  <div class="header">
    <button class="button button-circle" (click)="add()">
      <i class="fa fa-2x fa-plus"></i>
    </button>
  </div>

  <app-side-panel #panel [title]="'Create order'">
        <app-table [table]="table" *ngFor="let table of tables$ | async"></app-table>
  </app-side-panel>

  <div class="orders">
    <app-list-item class="order" *ngFor="let order of orders">
      <div class="order-number">#{{order.number}}</div>
      <div class="order-table">{{order.table}}</div>
      <div class="order-action">
        <button>Open</button>
      </div>

    </app-list-item>
  </div>
</app-page>
